{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body%}

<div class="container">
    <div class="mt-5">
        <h4 class="text-center">Register here!</h4>
    </div>
    <div>
        {% load crispy_forms_tags %}
        <form class="mx-auto" style="width:50%;" action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn border mt-1" type="submit">
            <span class="ml-2"><small style="color:grey">if already registered, please</small><a class="text-decoration-none" href="{% url 'login_user' %}"><small> login.</small></a></span>
        </form>
    </div>
</div>
{% endblock %}
